spring:
   datasource:
   # useSSL=false  表示不使用加密通讯，本机的数据库没有必要加密
   # serverTimezone=CST 表示指定服务器的时区，CST=China Standard Time
      url: jdbc:mysql://127.0.0.1:3306/air_lease?useSSL=false&serverTimezone=CST
      username: root
      password: 1234
   jpa:
      # 自动生成数据库的表
      generate-ddl: true
      properties:
      # 设置一个方言，用于自动加上MySQL的引擎名称，默认MyISAM不支持事务，不推荐使用。
         hibernate.dialect: org.hibernate.dialect.MySQL57Dialect
   main:
      #当遇到同样名字的时候，是否允许覆盖注册
      allow-bean-definition-overriding: true

# 指定服务器在运行的时候，Tomcat使用的端口
# Spring Boot自带了一个阉割版Tomcat，默认不支持JSP，只是支持Servlet
server.port: 8090
